[unit]
description = "Initialize terminal $INSTANCE"
requires_weak = [
    "fbcond@$INSTANCE.service",
    "00_ptyd.service",
]

[service]
cmd = "getty"
args = ["$INSTANCE"]
type = "oneshot_async"
